<form  method="post" enctype="multipart/form-data">
  <div class="form-row">
  <div class="col-12">
    <div class="form-group">
      <label for="question">Type Question</label>
      <input type="text" class="form-control txt-data" id="create-question" aria-describedby="emailHelp"
             placeholder="Type Question">
      <!-- <input type="text" class="form-control txt-data" id="create-question" aria-describedby="emailHelp" placeholder="Type Question" readonly> -->
    </div>
  </div>
  <div class="col-12">
    <div class="form-group">
      <label for="answer">Type Answer Here</label>
      <textarea class="form-control" rows="7" id="answer" placeholder="Type Answer Here"></textarea>
    </div>
  </div>
  <div class="col-4">
      <div class="form-group">
        <label for="http">Http Reference</label>
        <input type="url" class="form-control" id="http-link" placeholder="Additional http-reference">
      </div>
  </div>
  <div class="col-4">
    <div class="form-group">
      <label for="Question-Category">Question Category</label>
      <input type="text" class="form-control" id="category" placeholder="category">
    </div>
  </div>
  <div class="col-4">
    <div class="form-group">
      <label for="Additional-files">Additional files</label>
      <input type="file" class="form-control-file" id="file-path">
    </div>
  </div>
  </div>
</form>

