{% extends 'notes/base.html'%}

{% block new_note %}
<div class="modal fade bd-example-modal-lg  animated bounceInRight" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" style="max-width:80%;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {% csrf_token %}
          <div class="load-create-form"></div>
        <div class="preview-data"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-secondary" id="preview">Preview</button>
        <button type="button" class="btn btn-secondary" id="edit">Edit</button>
        <button class="btn btn-primary" id="save-note">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock new_note %}



{% block delete_note %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
Delete Note
</button>

<div class="modal fade animated bounceInRight" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Note</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div class="delete-data">
      </div>
        {% comment %} delete selected note {% endcomment %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary confirm-delete">Delete Note</button>
      </div>
    </div>
  </div>
</div>
{% endblock delete_note %}



{% block data_list %}

<div class="container">
<div id="accordion">

<div class="today-notes">
</div>

{% for note in notes %}
  <div class="card border-primary mb-3" id="note{{note.id}}">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active"  role="tab" data-toggle="tab" href="#ques{{note.id}}">Title</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  role="tab" data-toggle="tab" href="#ans{{note.id}}">Detail</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="tab" data-toggle="tab" href="#res{{note.id}}">Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link update-note" role="tab" data-toggle="tab" href="#update{{note.id}}" data-id="{{note.id}}">Update</a>
        </li>
        <li class="nav-item">
          <a class="nav-link delete-note" role="tab" data-toggle="tab" href="#delete{{note.id}}" data-id="{{note.id}}">Delete</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="tab" data-toggle="tab" href="#view{{note.id}}">View</a>
        </li>
      </ul>
        <!-- <span class="nav-item mt-2">
        <span class="fa fa-link float-right ml-3" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="link ref">
          </span>
          <span class="fa fa-file float-right ml-3" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="additional files">
          </span>
        </span> -->
    </div>

    <div id="collapse{{note.id}}" class="collapse show" aria-labelledby="heading{{note.id}}" data-parent="#accordion">
    <div class="card-body tab-content">
            <div class="tab-pane fade show active" role="tabpanel" id="ques{{note.id}}">
            <p class="card-text" id="ques-{{note.id}}">{{note.ques}}</p>
            </div>
            <div class="tab-pane fade" role="tabpanel" id="ans{{note.id}}">
            <p class="card-text"  id="ans-{{note.id}}">{{note.ans}}</p>
            </div>
            <div class="tab-pane fade" role="tabpanel" id="res{{note.id}}">
                    <span class="fa fa-link" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="link ref">
                      </span><span  id="link-{{note.id}}">{{note.link}}</span><br/>
                      <span class="fa fa-file" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="additional files">
                      </span><span  id="doc-{{note.id}}">{{note.doc}}</span><br/>
                      <span class="fa fa-file" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="additional files">
                      </span><span  id="category-{{note.id}}">{{note.category}}</span>
                  </div>
    </div>
  </div>
  </div>
{% empty %}
  <h1>No Notes Found <br/>
      Or You have empty notes</h1>
{% endfor %}

  </div>
</div>

{% endblock data_list %}
